<!DOCTYPE html>
<html>
  <head>
    <title>WebPerformanceApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>

  <body>
    <%= render partial: "elements/navbar" %>
    <%= bootstrap_flash %>


    <%= yield %> <!-- yields to view of whatever page user is on -->
  </body>
  <script src="js/wow.min.js"></script>
  <script> new WOW().init(); </script>
</html>
